.checklist-container h3,
.checklist-container h4,
.checklist-container h5,
.checklist-container h6 {
    margin-top: 0px;
    padding-top: 20px;
}

/* .checklist-buttons {
    padding: 20px;
    display: flex;
    margin-right: 20px;
} */

.checklist-items {
    margin-bottom: 20px;
    margin-left: 10px;
}

.checklist-progress {
    padding: 20px 20px 40px 20px;
}

.checklist-container {
    position: relative;
    background: var(--Slate-0);
    /* box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.04); */
    border-radius: var(--radius-1) 0px 0px var(--radius-1);
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    /* border: 1px solid var(--border); */
}

.checklist-content {
    width: 350px;
    min-height: 290px;
}

.checklist-sidemenu {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #2f2f50;
}

.checklist-subcontent {
    padding-left: 10px;
}
